<style>
  .direct-messages .layout {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 85vh;
    max-height: 85vh;
    overflow: hidden;
    position: relative;
  }

  /* LAYOUT DESKTOP */
  .direct-messages .side-panel,
  .direct-messages .main-panel {
    display: flex;
    min-height: 0;
    flex-direction: column;
    background-color: white;
  }

  .direct-messages .side-panel {
    width: 25%;
    min-width: 350px;
    overflow: auto;
    border-right: 1px solid #ddd;
  }

  .direct-messages .main-panel {
    width: 75%;
  }

  /* LAYOUT MOBILE */
  @media only screen and (max-width: 767px) {
    .direct-messages .side-panel {
      width: 100%;
      min-width: 100%;
      z-index: 1;
      border-right: 0 solid #ddd;
    }
    .direct-messages .main-panel {
      position: absolute;
      height: 100%;
      transform: translateX(101%);
      width: 100%;
      z-index: 2;
      transition: transform ease-in-out .5s;
    }

    .direct-messages .main-panel.focus {
      transform: translateX(0%);
    }
  }

  /*---------- SIDE PANEL ----------*/

  /* Search box */
  .direct-messages .side-panel .search-box {
    display: flex;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  .direct-messages .side-panel .search-box .has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
  }
  .direct-messages  .side-panel .search-box .has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
  }

  /* Contact wrapper */
  .direct-messages .side-panel .contact-wrapper {
    flex-grow: 1;
    display: flex;
    min-height: 0;
    flex-direction: column;
    overflow: auto;
  }

  .direct-messages .side-panel .contact-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
  }

  .direct-messages .side-panel .contact-wrapper ul a {
    color: {{ settings.color_body_text }};
  }

  .direct-messages .side-panel .contact-wrapper ul a:hover {
    text-decoration: none;
  }

  .direct-messages .side-panel .contact-wrapper .person {
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    border-top: 1px solid #ddd;
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
  }

  .direct-messages .side-panel .contact-wrapper h3 {
    font-size: 12px;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .direct-messages .side-panel .contact-wrapper .person:hover {
    background-color: #f3f3f3;
  }

  .direct-messages .side-panel .contact-wrapper .person .informations {
    flex-grow: 1;
  }

  .direct-messages .side-panel .contact-wrapper .person .status {
    width: 60px;
    text-align: right;
  }

  .direct-messages .side-panel .contact-wrapper .person span {
    display: inline-block;
  }

  .direct-messages .side-panel .contact-wrapper .person.unread::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: {{ settings.color_button }};
    border-radius: 50%;
    border: 1px solid white;
    z-index: 2;
    margin-right: 10px;
  }

  .direct-messages .side-panel .contact-wrapper .person .last-msg-content {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 180px;
    white-space: nowrap;
  }

  .direct-messages .person.active {
    border-left: 4px solid {{ settings.color_button }};
  }

  /*---------- MAIN PANEL ----------*/

  /* Messages header */
  .direct-messages .main-panel .messages-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }

  .direct-messages .main-panel .messages-header .back-button {
    margin-right: 10px;
    color: inherit;
  }

  @media only screen and (min-width: 768px) {
    .mobile-only {
      display: none;
    }
  }

  .direct-messages .main-panel .messages-header .person {
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
  }

  .direct-messages .main-panel .messages-header .person img {
      float: left;
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }

  /* Messages wrapper */
  .direct-messages .main-panel .messages-wrapper {
    flex-grow: 1;
    display: flex;
    min-height: 0;
    flex-direction: column;
    padding: 10px;
    height: 100%; /* Fix Safari */
  }

  .direct-messages .main-panel .messages-wrapper > div {
    overflow: hidden;
  }

  .direct-messages .main-panel .messages-wrapper .load-more {
    margin-bottom: 5px;
  }

  .direct-messages .main-panel .no-conversation, .messages-thread .no-message {
    display: flex;
    flex-direction: row;
    min-height: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  /*---------- COMMON STYLE ----------*/

  .direct-messages .person .avatar,
  .direct-messages .person .informations,
  .direct-messages .person .status {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .direct-messages .person .avatar {
    margin-right: 10px;
    position: relative
  }

  .direct-messages .person .avatar img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .direct-messages .person.online .avatar::after {
    content:"";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 2;
  }

</style>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    $(document).on('click', ".direct-messages .back-button", function (e) {
      e.preventDefault();
      $('.direct-messages .main-panel').toggleClass('focus');
    });
  });
</script>

<div class="container {{ settings.spacing }} direct-messages" data-section-id="{{ section.id }}" data-section-type="direct-messages">
  {% if section.settings.title != blank %}
    <div class="section-header text-center down-s">
      <h2 class="title">{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% assign current_room = nil %}
  {% if url_params.messages_room_id %}
    {% assign current_room = guest.messages_room_for_messages_room_id_in_url %}
  {% elsif url_params.receiver_id %}
    {% assign current_room = guest.messages_room_for_receiver_id_in_url %}
  {% endif %}

  <div class="layout mt-20 mb-20">
    <div class="side-panel">
      {% search_form class: 'search-box' %}
        <div class="has-feedback has-search" style="width: 100%;">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
          <input type="text" name="q" class="form-control" placeholder="{{ t.search_placeholder }}" value="{{ q }}">
        </div>
      {% endsearch_form %}

      <div class="contact-wrapper">
        <h3>{{ t.chat_rooms_list_title }}</h3>
        <ul class="messages-rooms-list">
          {% if guest.messages_rooms.size > 0 %}
            {% for room in guest.messages_rooms %}
              {% if room.last_message_received_content == nil and current_room == nil or current_room.id != room.id %}
                {% continue %}
              {% endif %}

              <a href="?messages_room_id={{ room.id }}" class="person {% if guest.unread_messages_rooms_ids contains room.id %}unread{% endif %} {% if room.interlocutor.is_online %}online{% endif %} {% if current_room and current_room.id == room.id %}active{% endif %}" data-messages-room-id="{{ room.id }}">
                <div class="avatar">
                  <img src="{{ room.interlocutor.avatar }}" alt="">
                </div>
                <div class="informations">
                  <span class="identity">{{ room.interlocutor.identity }}</span>
                  {% if room.interlocutor.company_name != room.interlocutor.identity %}
                    <span class="company">{{ room.interlocutor.company_name }}</span>
                  {% endif %}
                  <span class="last-msg-content text-muted">{{ room.last_message_received_content }}</span>
                </div>
                <div class="status">
                  <span class="last-msg-date">{{ room.formatted_last_message_date }}</span>
                </div>
              </a>
            {% endfor %}
          {% else %}
            <li class="person">{{ t.chat_no_room }}</li>
          {% endif %}

          <a href="" class="person unread online message-item-template hide" data-messages-room-id="">
            <div class="avatar">
              <img src="" alt="">
            </div>
            <div class="informations">
              <span class="identity"></span>
              <span class="company"></span>
              <span class="last-msg-content text-muted"></span>
            </div>
            <div class="status">
              <span class="last-msg-date"></span>
            </div>
          </a>
        </ul>

        {% if guest.segment_id_to_start_chatting_with != blank %}
          <h3>{{ t.chat_contacts_list_title }}</h3>
          <ul class="people">
            {% guests_paginate segment_id: guest.segment_id_to_start_chatting_with %}
              {% if paginate.total_entries > 0 %}
                {% for g in guests %}
                  {% if g.id == guest.id %}
                    {% continue %}
                  {% endif %}

                  <a href="?receiver_id={{ g.id }}" class="person {% if g.is_online %}online{% endif %}">
                    <div class="avatar">
                      <img src="{{ g.avatar }}" alt="">
                    </div>
                    <div class="informations">
                      <span class="identity">{{ g.identity }}</span>
                      {% if g.company_name != g.identity %}
                        <span class="company">{{ g.company_name }}</span>
                      {% endif %}
                    </div>
                  </a>
                {% endfor %}
              {% else %}
                <li class="person">{{ t.chat_no_contact }}</li>
              {% endif %}
            {% endguests_paginate %}
          </ul>
        {% endif %}
      </div>
    </div>
    <div class="main-panel {% if url_params.messages_room_id or url_params.receiver_id %}focus{% endif %}">
      {% if url_params.messages_room_id or url_params.receiver_id %}
        {% if current_room != nil %}
          <div class="messages-header">
            <a href="#" class="back-button mobile-only">
              <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            </a>
            <div class="person">
              <div class="avatar">
                <img src="{{ current_room.interlocutor.avatar }}" alt="">
              </div>
              <div class="informations">
                <span class="identity">{{ current_room.interlocutor.identity }}</span>
                {% if current_room.interlocutor.company_name != current_room.interlocutor.identity %}
                  <span class="company">{{ current_room.interlocutor.company_name }}</span>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="messages-wrapper">
            {% comments receiver_type: MessagesRoom, receiver_id: current_room.id, allow_replies: false, initial_messages_count: 20, layout: "chat" %}
          </div>
        {% else %}
          <div class="no-conversation text-danger"><em>{{ t.chat_room_unavailable }}</em></div>
        {% endif %}
      {% else %}
        <div class="no-conversation text-muted"><em>{{ t.chat_no_room_selected }}</em></div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Direct messages",
    "name_translations": { "fr": "Messages directs" },
    "class": "index-section",
    "icon": "fa fa-commenting-o",
    "hidden_from_user": true,
    "group_key": "guests",
    "group_rank": 3000,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "label_translations": { "fr": "Titre" },
        "default": "Title",
        "default_translations": { "fr": "Titre" }
      },
      {
        "type": "chat_population_mapping_form",
        "label": "Set up rights",
        "label_translations": { "fr": "Configurer les droits" }
      }
    ],
    "presets": [
      {
        "name": "Direct messages",
        "name_translations": { "fr": "Messages directs" }
      }
    ]
  }
{% endschema %}
