<div class="container {{ settings.spacing }}" data-section-id="{{ section.id }}" data-section-type="guest-invitations">
  {% if section.settings.enable_back_button == true and section.settings.back_button_url != blank %}
    <div class="row down-s">
      <div class="col-xs-12">
        <a href="/{{ section.settings.back_button_url }}"><i class="fa fa-angle-left"></i> {{ section.settings.back_button_label }}</a>
      </div>
    </div>
  {% endif %}

  <div class="text-center">
    <h2 class="title down-s">{{ section.settings.title | escape }}</h2>
    {% if section.settings.text.html.size > 6 %}
      <div class="h2-subtitle big-subtitle down-s">{{ section.settings.text.html | parse_liquid }}</div>
    {% endif %}

    {% guests_paginate sent_invitations: true, per_page: section.settings.per_page %}

      {% assign invited_guests_count = guest.sent_invitations_count %}
      {% assign remaining_guests_count = -1 %}

      {% if guest.invitations_quota > -1 %}
        {% assign remaining_guests_count = guest.invitations_quota | minus: invited_guests_count %}
      {% endif %}

      {% if is_preview %}
        {% assign invited_guests_count = 0 %}
        {% assign remaining_guests_count = 0 %}
      {% endif %}

      <p class="down-s">{{t.invitations_created_count}} {% if remaining_guests_count > -1 %}{{t.invitations_remaining_count}}{% endif %}</p>

      {% if guest.invitations_quota != 0 %}
        <a class="btn btn-primary" data-toggle="modal" data-target="#import-modal"><i class="fa fa-plus"></i> {{t.add_guests}}</a>
      {% endif %}

      {% if paginate.total_entries > 0 %}
        <div class="up-s down-s mt-10">
          {% unless section.settings.pagination_position == "below" %}
            {% include 'pagination' pagination_type: section.settings.pagination_type, id_scrollto: section.id %}
          {% endunless %}

          <table class="table text-left v-center-cells">
            <thead>
              <th>{{t.identity}}</th>
              <th>{{t.email}}</th>
              <th>{{t.status}}</th>
              <th class="text-center">{{t.engagement}}</th>
              <th class="text-center">{{t.action}}</th>
            </thead>
            <tbody>
              {% for invited_guest in guests %}
                <tr id="{{invited_guest.id}}">
                  <td>{{invited_guest.first_name}} {{invited_guest.last_name}}<br />
                  <i class="fa fa-building-o"></i> {{invited_guest.company_name}}</td>
                  <td>{{invited_guest.email}}</td>
                  <td>
                    {% assign status_key = "status_" | append: invited_guest.invitation_status %}
                    {% assign status_class = "default" %}

                    {% if invited_guest.invitation_status == 'registered' %}
                      {% assign status_class = "primary" %}
                    {% elsif invited_guest.invitation_status == 'email_sent' or invited_guest.invitation_status == 'unfinished' %}
                      {% assign status_class = "warning" %}
                    {% elsif invited_guest.invitation_status == 'email_opened' or invited_guest.invitation_status == 'email_clicked' %}
                      {% assign status_class = "success" %}
                    {% elsif invited_guest.invitation_status == 'email_unreachable' or invited_guest.invitation_status == 'declined' %}
                      {% assign status_class = "danger" %}
                    {% endif %}
                    <span class="label label-{{status_class}}">{{t[status_key]}}</span>
                  </td>
                  <td>
                    <div class="engagement-ind">
                      {% if invited_guest.engagement_quartile > 0 %}
                        <span><i class="fa fa-square"></i></span>
                      {% endif %}
                      {% if invited_guest.engagement_quartile > 1 %}
                        <span><i class="fa fa-square"></i></span>
                      {% endif %}
                      {% if invited_guest.engagement_quartile > 2 %}
                        <span><i class="fa fa-square"></i></span>
                      {% endif %}
                      {% if invited_guest.engagement_quartile > 3 %}
                        <span><i class="fa fa-square"></i></span>
                      {% endif %}
                    </div>
                  </td>
                  <td class="text-center">
                    {% if invited_guest.status == "imported" %}
                      <a href="#" class="remove-guest" data-remove-url="{{ invited_guest.destroy_guest_invitation_url }}" data-toggle="tooltip" data-placement="top" title="{{t.delete_this_guest}}" data-confirm="{{t.are_you_sure}}" data-error-message="{{t.impossible_delete_guest}}">
                        <i class="fa fa-trash"></i>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          {% unless section.settings.pagination_position == "above" %}
            {% include 'pagination' pagination_type: section.settings.pagination_type, id_scrollto: section.id %}
          {% endunless %}
        </div>
      {% endif %}
    {% endguests_paginate %}
  </div>

  <!-- Modal -->
  <div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-labelledby="import-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-left" id="import-modal-label">{{t.add_guests}}</h4>
        </div>
        <div class="modal-body text-center guest-invitations-import">
          <div data-import-role="form">
            {% guest_invitations_import_form guest_category_id: section.settings.invitations_guest_category_id %}
              <p class="up-s down-s">{{t.adding_guest_xls}}</p>
              <p class="down-s">
                <input type="file" name="{{ input_names.file }}" class="import-file-input" style="display: none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                <button class="btn btn-default import-file-button" type="button"><i class="fa fa-file"></i> <span data-default-text="{{t.import_no_selected_file}}" style="margin-left: 5px;">{{t.import_no_selected_file}}</span></button>
              </p>
              <div class="row up-s">
                <div class="col-xs-6 text-left"><a href="https://s3-eu-west-1.amazonaws.com/assets.applidget.com/guest-invitations-list-sample.xlsx" class="btn btn-default btn-sm"><i class="fa fa-file-excel-o"></i> {{t.download_model}}</a></div>
                <div class="col-xs-6 text-right"><button type="submit" class="btn btn-primary btn-sm">{{t.submit_list}}</button></div>
              </div>
            {% endguest_invitations_import_form %}
          </div>

          <div data-import-role="in-progress" class="padding-sm" style="display: none;">
            <i class="fa fa-circle-o-notch fa-spin text-primary fa-4x padding-sm"></i>
            <p class="mt-10" style="font-size: 1.4em;">{{t.import_in_progress}}</p>
          </div>

          <div data-import-role="errors" class="padding-sm" style="display: none;">
            <i class="fa fa-remove text-danger fa-4x padding-sm"></i>
            <p class="mt-10 down-s">{{t.errors_during_import}} <br /><span class="text-danger custom-error-message"></span></p>
            <button type="button" class="btn btn-primary btn-sm import-modal-init">{{t.import_other_file}}</button>
          </div>

          <div data-import-role="done" class="padding-sm" style="display: none;">
            <i class="fa fa-check-circle-o text-success fa-4x padding-sm"></i>
            <p class="mt-10 down-s created-guest-invitations-count">{{t.invitations_import_created_count}}</p>
            <p class="down-s validation-errors-count" style="display: none;">
              <i class="fa fa-warning text-warning"></i>
              <span class="text-warning">{{t.invitations_import_validation_errors}}</span>
              <span><a class="btn-link" data-toggle="collapse" href=".validation-errors-table" aria-expanded="false" aria-controls="validation-errors">{{t.see_details}}</a></span>
            </p>
            <div class="validation-errors-table collapse">
              <table class="table text-left v-center-cells">
                <thead>
                  <tr><th>{{t.line}}</th><th>{{t.errors}}</th></tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <button type="button" class="btn btn-primary btn-sm import-modal-close">{{t.ok}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Invitations",
    "name_translations": { "fr": "Invitations" },
    "class": "index-section",
    "icon": "fa fa-envelope-o",
    "hidden_from_user": false,
    "group_key": "exhibitors",
    "group_rank": 2000,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "label_translations": { "fr": "Titre" },
        "default": "Title",
        "default_translations": { "fr": "Titre" }
      },
      {
        "type": "rte",
        "id": "text",
        "label": "Text",
        "label_translations": { "fr": "Texte" },
        "default": "Cum autem commodis intervallata temporibus convivia longa et noxia coeperint autem commodis intervallata temporibus convivia longa et noxia coeperint autem commodis intervallata temporibus convivia longa et noxia coeperint."
      },
      {
        "type": "guest_category_picker",
        "id": "invitations_guest_category_id",
        "label": "Guests category",
        "label_translations": { "fr": "Catégorie des invités" },
        "info": "Only display the categories with the 'Visitor' population",
        "info_translations": { "fr" : "Ne propose que les catégories ayant la population 'Visiteur'." },
        "population": "visitor"
      },
      {
        "type": "text",
        "id": "per_page",
        "label": "Number of items per page",
        "label_translations": { "fr": "Nombre d'éléments par page" },
        "default": "20",
        "info": "Type in a number between 1 and 100",
        "info_translations": { "fr" : "Spécifiez un nombre entre 1 et 100" }
      },
      {
        "type": "select",
        "id": "pagination_type",
        "label": "Pagination type",
        "label_translations": { "fr": "Style de la pagination" },
        "default": "numbered",
        "options": [
          {
            "value": "numbered",
            "label": "Numbered",
            "label_translations": { "fr": "Numérotée" }
          },
          {
            "value": "non_numbered",
            "label": "Non numbered",
            "label_translations": { "fr": "Non numérotée" }
          }
        ]
      },
      {
        "type": "select",
        "id": "pagination_position",
        "label": "Pagination position",
        "label_translations": { "fr": "Position de la pagination" },
        "default": "below",
        "options": [
          {
            "value": "both",
            "label": "Both above and below list",
            "label_translations": { "fr": "Au-dessus et en-dessous de la liste" }
          },
          {
            "value": "above",
            "label": "Above the list only",
            "label_translations": { "fr": "Au-dessus de la liste seulement" }
          },
          {
            "value": "below",
            "label": "Below the list only",
            "label_translations": { "fr": "En-dessous de la liste seulement" }
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_back_button",
        "label": "Display a back button",
        "label_translations": { "fr": "Afficher un bouton retour" },
        "default": false
      },
      {
        "type": "website_page_picker",
        "id": "back_button_url",
        "label": "Back button URL",
        "label_translations": { "fr": "URL du bouton de retour" },
        "show_if": {
          "source_id": "enable_back_button",
          "operator": "==",
          "value": true
        }
      },
      {
        "type": "text",
        "id": "back_button_label",
        "label": "Back button label",
        "label_translations": { "fr": "Libellé du bouton de retour" },
        "default": "Back",
        "default_translations": { "fr": "Retour" },
        "show_if": {
          "source_id": "enable_back_button",
          "operator": "==",
          "value": true
        }
      }
    ],
    "presets": [
      {
        "name": "Invitations",
        "name_translations": { "fr": "Invitations" }
      }
    ]
  }
{% endschema %}
