<!DOCTYPE html>
<html>
  <head>
    <title>{{ t.page_not_exist }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <!-- Loads Google Fonts if necessary -->
    {% if settings.type_base_family contains 'Google' %}
      {% assign type_base_parts = settings.type_base_family | split: '_' %}
      {% capture baseGoogleUrl %}{{ type_base_parts[1] }}:400,700{% endcapture %}
      <link rel="stylesheet" href="{{ '//fonts.googleapis.com/css?family=' | append: baseGoogleUrl }}" />
    {% endif %}
    {% if settings.type_header_family contains 'Google' %}
      {% unless settings.type_header_family contains type_base_parts[1] and settings.type_header_family contains '700' %}
        {% assign type_header_parts = settings.type_header_family | split: '_' %}
        {% capture headerGoogleUrl %}{{ type_header_parts[1] }}:{{ type_header_parts[2] }}{% endcapture %}
        <link rel="stylesheet" href="{{ '//fonts.googleapis.com/css?family=' | append: headerGoogleUrl }}" />
      {% endunless %}
    {% endif %}

    {% if settings.type_base_family contains 'Google' %}
      {% assign type_base_parts = settings.type_base_family | split: '_' %}
      {% assign type_base_name = type_base_parts[1] %}
      {% capture base_family %}"{{ type_base_name | split: ':' | first | replace: '+', ' ' }}"{% if type_base_parts.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
    {% else %}
      {% assign base_family = settings.type_base_family %}
    {% endif %}

    {% if settings.type_header_family contains 'Google' %}
      {% assign type_header_parts = settings.type_header_family | split: '_' %}
      {% assign type_header_name = type_header_parts[1] %}
      {% capture header_family %}"{{ type_header_name | split: ':' | first | replace: '+', ' ' }}"{% if type_header_parts.last == 'serif' %}, serif {% else %}, "HelveticaNeue", "Helvetica Neue", sans-serif{% endif %}{% endcapture %}
      {% assign header_weight = type_header_parts[2] | split: ',' %}
    {% else %}
      {% assign header_family = settings.type_header_family %}
      {% assign header_weight = 400 %}
    {% endif %}

    <style type="text/css">
      html, body{min-height: 100%;margin:0;}
      body{background-color:{{ settings.color_body_bg }};font-size:{{ settings.type_base_size }};font-family:{{ base_family }};color:{{ settings.color_body_text }};text-align:center;}
      .button{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;color:{{ settings.color_button_text }};background-color:{{ settings.color_button }};border-color:{{ settings.color_button }};text-transform:none;text-decoration:none;}
      .absolute-center{overflow:auto;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;width:80%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
      h1{ font-size:1.5em}
    </style>
  </head>
  <body>
    <div style="text-align:center;" class="absolute-center">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="144" height="144" viewBox="0 0 144 144">
          <g transform="translate(-568 -226)">
            <g transform="translate(441 -27)">
              <circle cx="72" cy="72" r="72" transform="translate(127 253)" fill="#f6f6f6"/>
            </g>
            <path d="M1052.587,1185.1v83.954h63.688v-72.177L1104.1,1185.1Z" transform="translate(-444 -929)" fill="#fff"/>
            <g transform="translate(590 248)">
              <path d="M85,92.5V20a2.875,2.875,0,0,0-.7-1.8L71.8,5.7A2.875,2.875,0,0,0,70,5H17.5A2.476,2.476,0,0,0,15,7.5v85A2.476,2.476,0,0,0,17.5,95h65A2.476,2.476,0,0,0,85,92.5ZM70,11l9,9H70ZM80,90H20V10H65V22.5A2.476,2.476,0,0,0,67.5,25H80Z"/>
              <path d="M61.8,43.2a2.416,2.416,0,0,0-3.5,0L50,51.5l-8.2-8.2a2.475,2.475,0,0,0-3.5,3.5L46.5,55l-8.2,8.2a2.475,2.475,0,0,0,3.5,3.5L50,58.5l8.2,8.2a2.51,2.51,0,0,0,3.6-3.5L53.5,55l8.2-8.2A2.632,2.632,0,0,0,61.8,43.2Z"/>
            </g>
          </g>
        </svg>
      <h1>{{ t.page_not_exist }}</h1>
      <p>{{ t.page_not_exist_message }}</p>
    </div>
    <div>
        <a href="/" class="button">{{ t.back_to_home }}</a>
    </div>
    </div>
  </body>
</html>
